<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whx.jetpacktest">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".NBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 移除WorkManger 默认初始化程序 -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".databinding.SimpleDatabindingActivity" />

        <activity android:name=".rx.RxTestActivity" />

        <activity android:name=".widget.imagepick.PhotosActivity" />

        <activity android:name=".widget.imagepick.PreviewActivity" />

        <activity android:name=".viewmodel.ViewModelActivity" />

        <activity android:name=".widget.cycle_viewpager.ViewpagerActivity" />

        <receiver
            android:name=".MainActivity$CallbackReceiver"
            android:exported="false" />

        <activity android:name=".widget.refresh.TestRefreshActivity" />

        <activity android:name=".nav.NavHostActivity" />

        <activity android:name=".coroutines.CoroTestActivity" />

        <activity android:name=".widget.WidgetTestActivity" />

        <activity
            android:name=".widget.statusbar.ActivityBlue"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Base.NoBg.HashSwipeTransparent" />

        <activity android:name=".widget.statusbar.ActivityWhite" />

        <activity android:name=".widget.statusbar.ActivityBlack" />

        <activity android:name=".widget.lottie.LottieTestActivity" />

        <activity android:name=".workmanager.WorkTestActivity" />

        <activity android:name=".datastore.DataStoreTestActivity" />

        <activity
            android:name=".widget.coord.CoordTestActivity"
            android:theme="@style/Theme.NoTitle" />

        <activity android:name=".compose.ComposeActivity" />
    </application>

</manifest>